<html>
<div id="container">
<head>
  <link href='http://fonts.googleapis.com/css?family=Bungee|Muli|Playfair+Display' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Shopify</title>
</head>
<body id="body">
  <div class = "menu-bar">
      <span id = "logo">
        <%= link_to image_tag("seatyourself-logo.png"), products_path %>
      </span>
      <span class = "userinfo">
          <% if current_user %>
            <span id = "welcome-message"> Signed in as <%= link_to "#{current_user.name}", user_path(current_user) %></span> |
            <span id = "log-out-button"><%= link_to "Log out", session_path("current"), :method => :delete %></span>
          <% else %>
            <span id = "log-in-button"><%= link_to "Log In", new_session_path %></span> |
            <span id = "sign-up-button"><%= link_to "Sign Up", new_user_path %></span>
          <% end %>
      </span>
  </div>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>

  <div class="footer">
    <div class="left">
      <p>T: 416-567-7890</p>
      <p>E: info@shopify.com</p>
    </div>
    <span class="center">
      <a href="http://www.facebook.com"><img src="http://www.fastforwardsim.com/images/Facebook_icon_grey.png" alt="Facebook"></a>
      <a href="http://www.instagram.com"><img src="http://www.lorigoldsteinbooks.com/wp-content/uploads/2013/06/instagram-grey-2-300x300-150x150.png" alt="Instagram"></a>
      <a href="http://www.twitter.com"><img src="https://dl.dropboxusercontent.com/u/80500150/twitter.png" alt="Twitter"></a>
    </span>
    <div class="right">
      <p>www.shopify.com</p>
      <p>Copyright Shopify 2016</p>
    </div>
  </div>
</body>
</div>
</html>
